<div class="row my-4" style="margin: 20px">
  <div class="col-md-4">
    <form class="mb-4" (ngSubmit)="onSubmit()" #formName="ngForm">
      <h2 class="mb-3">Dodaj nową trasę</h2>
      <div class="mb-3">
        <label for="traceName" class="form-label">Nazwa trasy</label>
        <input
          type="text"
          class="form-control"
          id="traceName"
          name="traceName"
          [(ngModel)]="traceModel.traceName"
          required
        />
      </div>
      <div class="mb-3">
        <label for="system" class="form-label">System współrzędnych</label>
        <select
          class="form-select"
          id="system"
          name="system"
          [(ngModel)]="traceModel.system"
          required
        >
          <option *ngFor="let def of coordSystems" [ngValue]="def.name">
            {{ def.name }} /  {{ def.label }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="nodes" class="form-label">Węzły</label>
        <textarea
          class="form-control"
          id="nodes"
          name="nodes"
          [(ngModel)]="traceModel.nodes"
          placeholder="Przykładowe dane wejściowe. Możesz skopiować dane z listy z Autocada (F3):
       at point  X=6537790.941  Y=5545664.794  Z=   10.260
       at point  X=6537820.174  Y=5545664.985  Z=   10.260
       at point  X=6537920.174  Y=5545664.985  Z=   10.260"
          rows="18"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!formName.form.valid">
        Dodaj trasę
      </button>
    </form>
  </div>

  <div class="col-md-8">

    <div *ngIf="traceList.length" class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nazwa trasy</th>
          <th>System współrzędnych</th>
          <th>Węzły</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trace of traceList">
          <td>{{ trace.traceName }}</td>
          <td>{{ trace.system }}</td>
          <td>
            <div *ngFor="let node of trace.nodes">({{ node }})</div>
          </td>
          <td>
            <button class="btn btn-secondary" (click)="createParcelList(trace)">
              Pobierz dane
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
